@media (max-width:480px){
    .maincover{
        background-image: url(images/Dream-cover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vh;
        height: 100vh;
        
    }
    .row h4{
        font-size: 20px;
        font-family: fantasy;
        font-weight: bold;
        color: #C63D6B;
        letter-spacing: 1px;
          
        
    }
    .row h5{
        padding-top: 50px;
        font-size: 20px;
        font-family: fantasy;
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
        
       
    }
    .newsite h1{
        font-size: 26px;
    }
    .newsite h2{
        font-size: 13px;
    }
    .newsite {
        top: 42%;
    }
    .material h1{
        font-size: 1.3rem;
    }
    .image-1 img{
        max-width: 183px;
    }
    .text-metirial h4{
    margin-top: 1px;

    }
    .gallery-grid{
        display: flex;
        flex-direction: column;
    }
    .coee{
        margin-left: -192px;
    }
}
